header.img-background {
  background: #444;
  min-height: 650px;
  min-width: 100%;
}
header.bg-cover {
  background: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?dpr=2&fit=crop&fm=jpg&q=75&w=1050) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pull-up-21-px {
  position: relative;
  top: -21px;
}
